.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $m-size;

    @media screen and (max-width: 480px) {
        padding: $s-size;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 300;

        @media screen and (max-width: 480px) {
            font-size: 2.4rem;
        }
    }
}
