.item {
    background-color: $color-grey-light-3;
    border-radius: 3px;
    padding: $s-size;
    box-shadow: 0 $s-size $m-size rgba(0, 0, 0, 0.3);
    margin-bottom: $m-size;
    margin-right: $s-size;
    @media screen and (max-width: 480px) {
        flex-basis: 100%;
        margin-right: 0;
    }

    &__topic {
        display: block;
        padding-bottom: 0.4rem;
        transition: all 0.2s ease-out;
        text-align: center;
        &:link,
        &:visited {
            color: $color-grey-dark-1;
            font-size: 2rem;
            font-weight: 400;
            text-decoration: none;
        }

        &--notes {
            &:link,
            &:visited {
                @media screen and (max-width: 1200px) {
                    color: $color-primary;
                    border-bottom: 1px solid $color-primary;
                }
            }

            &:active,
            &:hover {
                color: $color-primary;
                border-bottom: 1px solid $color-primary;
            }
        }

        &--confessions {
            &:link,
            &:visited {
                @media screen and (max-width: 1200px) {
                    color: $color-tertiary;
                    border-bottom: 1px solid $color-tertiary;
                }
            }
            &:active,
            &:hover {
                color: $color-tertiary;
                border-bottom: 1px solid $color-tertiary;
            }
        }
    }
    &__extras {
        margin-top: 0.4rem;
        font-size: 1.2rem;
        &--title {
            display: inline;
            white-space: nowrap;
            color: $color-grey-dark-3;
        }
        &--value {
            display: inline;
            overflow: hidden;
            white-space: nowrap;
            color: $color-grey-dark-2;
        }
    }
}
